# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

procesoNodo/data.bin
procesoNodo/log.txt
procesoNodo/Debug/

procesoFileSystem/log.txt
procesoFileSystem/Debug/
procesoFileSystem/mdfs_archivos.bin
procesoFileSystem/mdfs_bloques.bin
procesoFileSystem/mdfs_directorios.bin
procesoFileSystem/mdfs_nodos.bin

procesoJob/Debug
procesoJob/reduce.sh~
procesoJob/map.sh~


utiles/Debug/

